{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper" style="margin-top: 10px;">
    <ul class="author__urls">
      {% if author.github %}
         <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>Github</a></li>
      {% if author.email %}
        <li><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>
          <a href="mailto:{{ author.email }}">{{ author.email }}</a>
        </li>
      {% endif %}
      {% if author.wechat %}
        <li><i class="fab fa-weixin icon-pad-right" aria-hidden="true"></i>
          <a href="../images/wechat.JPG" target="_blank" rel="noopener noreferrer">{{ author.wechat }}</a>
        </li>
      {% endif %}
    </ul>
  </div>
  
</div>
